@import "~@/styles/variables.scss";
.menu-wrapper {
  position: relative;
  background-color: $menuBg;
  box-shadow: 2px 0 6px rgba(0,21,41,.35);
  // 如果没有此样式的话  折叠有子级菜单的父菜单文字是不会隐藏的
  .el-menu--collapse .el-menu-item span,
    .el-menu--collapse .el-submenu .el-submenu__title span,
      .el-menu--collapse .el-submenu__icon-arrow{
    height: 0;
    width: 0;
    overflow: hidden;
    visibility: hidden;
    display: inline-block;
    }
  .el-menu {
    border-right: none;
  }
  .el-menu-vertical-demo:not(.el-menu--collapse) {
    width: $menuWidth;
    .el-menu-item:not(.is-active):hover,.el-submenu__title:hover{
      color: $menuActiveText !important;
      background-color: $menuBg;
      .iconfont{
        color: $menuActiveText;
      }
    }
  }
}
.breadcrumb-wrapper {
  font-size: 12px;
  padding: 13px 32px;
  background-color: $breadcrumbBg;
  .el-breadcrumb__separator,
  .el-breadcrumb__inner {
    color: $breadcrumbText;
  }
}
.page-wrapper {
  .el-card {
    margin: 10px 0;
    .el-card__header {
      background: #f4f8fa;
      padding: 12px 20px;
      font-size: 16px;
      color: #22262f;
      font-weight: 600;
    }
    .el-button {
      padding: 8px 15px;
    }
  }
}
.el-table thead>tr>th {
  color: rgba(0,0,0,.85);
  font-weight: 600;
  text-align: left;
  background: #fafafa;
}
.el-pagination {
  float: right;
  margin: 16px 0;
}
.el-dialog {
  .el-dialog__header {
    padding: 16px 24px;
    border-bottom: 1px solid #e8e8e8;
    border-radius: 4px 4px 0 0;
  }
  .el-dialog__body {
    padding: 22px 28px 0;
  }
  .el-dialog__footer {
    padding: 10px 16px;
    border-top: 1px solid #e8e8e8;
    border-radius: 0 0 4px 4px;
  }
}
