$headerHeight: 60px;
$headerBg: #1d2b36;

$menuActiveText: #1D8DFF;
$menuBg: #1B273C;
$menuActiveBg: #1B273C;
$menuHover: #263445;
$menuWidth: 210px;

$collapseBtnBg: #131822;
$collapseBtn: #4582ff;
$collapseBtnHeight: 60px;

$breadcrumbBg: #D1D7DF;
$breadcrumbText: #4A4A4A;
